.modal {
    --palette-base: 255, 255, 255;
    --palette-background: 33, 33, 33;
    --palette-border: 238, 238, 238;
    --palette-accent: 0, 92, 168;

    --color-base: rgb(var(--palette-base));
    --color-background: rgb(var(--palette-background));
    --color-border: rgb(var(--palette-border));
    --color-accent: rgb(var(--palette-accent));

    transition: var(--transition-duration) opacity;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--palette-background),.1);
    z-index: 20;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: initial;
}

.modal .inner {
    transition: var(--transition-duration) transform;
    position: absolute;
    box-sizing: border-box;
    max-height: 90%;
    width: calc(100% - 50px);
    max-width: 500px;
    padding: var(--box-padding-inner);
    background: var(--color-base);
    border-radius: 20px;
    box-shadow: 0 0 20px 0px #00000030;
    overflow-x: hidden;
    transform: scale(.8);
    opacity: 0;
}

.modal.active .inner {
    transform: scale(1);
    opacity: 1;
}

.modal .inner::-webkit-scrollbar {
    width: 10px;
}

.modal .inner::-webkit-scrollbar-thumb {
    background: var(--color-background);
    border-radius: 10px;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--box-padding-inner);
}

.modal .header * {
    margin: 0;
}

.modal .header h1 {
    font-size: 28px;
}

.modal .header .close {
    --size: 35px;

    transition: var(--transition-duration) background, var(--transition-duration) box-shadow;
    position: relative;
    width: var(--size);
    height: var(--size);
    padding: 10px;
    background: var(--color-background);
    border-radius: 100%;
    cursor: pointer;
}

.modal .header .close:hover {
    background: var(--color-border);
}

.modal .header .close .line {
    position: absolute;
    width: 2px;
    height: 50%;
    background: black; 
    transform: rotate(45deg);
}

.modal .header .close .line:last-child {
    transform: rotate(-45deg);
}

.modal .content {
    justify-content: flex-start;
}

.modal .content p {
    font-size: 19px;
}

.modal .content svg {
    --size: 40px;

    width: var(--size);
    height: var(--size);
    padding: 20px;
    background-color: rgba(var(--palette-accent),.1);
    border-radius: 9px;
    margin-right: var(--box-padding-inner);
}

.modal .content svg path {
    fill: rgba(var(--palette-accent),.8);
}

.modal .button {
    text-align: center;
    margin-top: var(--box-padding-inner);
    border-radius: 9px;
}

.modal .button p {
    width: 100%;
    text-align: center;
}

.modal .button.disabled {
    pointer-events: none;
    background: rgba(var(--palette-background),.3);
}

@media screen and (max-width: 530px) {
    .modal .content {
		flex-direction: column;
		text-align: center;
	}

	.modal .content svg {
		margin-right: 0;
		margin-bottom: var(--box-padding-inner);
	}
}

@media screen and (prefers-color-scheme: dark) {
    .modal {
        background: rgba(0,0,0,.7);
    }

	.modal .langSelect a:hover {
		background-color: rgba(var(--palette-accent),.3);
	}

	.modal .header .close {
		--background-color: 255,255,255;
	}

    .modal .header .close .line {
        background: white;
    }
}